body {
  background-color: #f1f1f1;
}

main {
  max-width: 1440px;
  margin: 30px auto;
  .mediaAndMapContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 405px;
    @media (max-width: 1400px) {
      flex-direction: column;
      margin-bottom: 410px;
    }
    @media (max-width: 750px) {
      margin-bottom: 340px;
    }
    .media {
      padding: 30px;
      border-radius: 33px;
      background-color: #fff;
      height: 100%;
      width: 700px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      @media (max-width: 1400px) {
        margin-bottom: 30px;
        height: 400px;
      }
      @media (max-width: 750px) {
        width: 90vw;
        margin-bottom: 15px;
      }
      h2 {
        font-size: 64px;
        @media (max-width: 1400px) {
          margin-top: 10px;
        }
        @media (max-width: 750px) {
          font-size: 48px;
        }
      }
      form {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1400px) {
          margin: 10px 0;
        }
        @media (max-width: 750px) {
          height: 50px;
          margin-bottom: 0;
        }
        input[type='email'] {
          height: 100%;
          background-color: #f3f3f3;
          border-radius: 15px;
          border: none;
          outline: none;
          padding: 0 20px;
          font-size: 24px;
          &:focus {
            outline: none;
          }
          @media (max-width: 750px) {
            width: 50vw;
            padding: 0 16px;
            font-size: 20px;
          }
        }
        input[type='submit'] {
          height: 100%;
          background-color: #00094b;
          border-radius: 15px;
          color: #fff;
          font-size: 24px;
          padding: 0 25px;
          margin-left: 12px;
          cursor: pointer;
          @media (max-width: 750px) {
            padding: 0 12px;
            font-size: 22px;
            margin-left: 6px;
          }
        }
      }
      span {
        opacity: 0.4;
        font-size: 24px;
        @media (max-width: 1400px) {
          margin: 10px 0;
        }
        @media (max-width: 750px) {
          font-size: 20px;
        }
      }
      .socials {
        display: flex;
        align-items: center;
        @media (max-width: 1400px) {
          margin-bottom: 10px;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #bfbfbf;
          border-radius: 14px;
          margin-right: 10px;
          height: 67px;
          width: 67px;
          text-decoration: none;
          @media (max-width: 750px) {
            height: 48px;
            width: 48px;
          }
          i {
            color: #000;
            font-size: 30px;
            @media (max-width: 750px) {
              font-size: 24px;
            }
          }
        }
      }
    }
    .map {
      padding: 15px;
      border-radius: 33px;
      background-color: #fff;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 670px;
      @media (max-width: 750px) {
        width: 90vw;
      }
      iframe {
        border-radius: 24px;
      }
      a {
        // display: none;
        // font-size: 0px;
      }
    }
  }
  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    @media (max-width: 1400px) {
      flex-direction: column;
      padding-top: 15px;
    }
    .contactInfo {
      width: 700px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media (max-width: 750px) {
        width: 90vw;
      }
      h2 {
        font-size: 64px;
        margin-bottom: 30px;
        @media (max-width: 750px) {
          font-size: 30px;
          margin-bottom: 20px;
        }
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        span,
        b {
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        span {
          display: block;
          opacity: 0.5;
          margin-bottom: 8px;
          font-weight: 600;
        }
        .phone {
          grid-column: span 2;
        }
      }
    }
    #contactForm {
      display: flex;
      flex-direction: column;
      width: 670px;
      @media (max-width: 1400px) {
        margin-top: 25px;
      }
      @media (max-width: 750px) {
        width: 90vw;
      }
      input,
      textarea {
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        outline: none;
        width: 95%;
        padding: 12px;
        &[type='submit'] {
          width: 100%;
          background-color: #00094b;
          color: #fff;
          margin-top: 15px;
          cursor: pointer;
        }
        &[type='text'],
        &[type='email'] {
          margin-top: 8px;
          margin-bottom: 12px;
        }
      }
      textarea {
        width: 100%;
        margin-top: 8px;
      }
      div {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        div {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          &:nth-child(2) {
            align-items: flex-end;
            label {
              width: 95%;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 382px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 382px;
}

.gmap_iframe {
  height: 382px !important;
}
