body
{
    margin:0px;
    background-color:white;
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.main
{    
    margin-top: 150px;
    grid-column:2/3;
}
*
{
font-family: 'inter', sans-serif;
}

h1
{
    font-size: 60px;
    align-content: center;
    text-align: center; 
    margin-top: 10px;
}

h2
{
    font-size: 15px;
   align-content: center;
    text-align: center; 
    font-weight: 500;
}

.accordion-item
{
    background-color: #f3f3f3;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px dimgray;
}

.accordion-item input[type="checkbox"] 
{
    display: none; 
}
  
.accordion-item label 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    background-color: #f3f3f3;
    cursor: pointer;
    padding: 0px 20px;
    font-weight: 800;
    font-size: 20px;
}

.accordion-item label .icon
{
    transition: transform 0.3s ease;
    font-size: 1.2em;
}

.accordion-item input[type="checkbox"]:checked + label .icon
{
    transform: rotate(180deg);
}

.accordion-item .content 
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #f3f3f3;
    padding: 0 20px;
}

.accordion-item input[type="checkbox"]:checked ~ .content
{
    max-height: 200px; 
    padding: 5px 20px;
}
 
.accordion-item p
{
    margin: 0;
}
