*{  box-sizing: content-box;
    max-width: 800vw;
    max-height: 800vh;
    
    
   
    font-family: "inter";
   
    
    

}
body{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
   
  
    
}





@font-face {
    font-family: "Inter";
    src: url(Inter-VariableFont_opsz,wght.ttf);
    
}





.top{
    text-align: center;
    justify-content: center;
    
    font-family: "inter";
    font-size: medium;

}
.head2{
    text-align:center;
    justify-content: center;
    font-size: 50px;
}
.grid-Gallery{
    display:grid;
    grid-column:2/3;
    margin: 10px ;
    
    
    
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    background-color:rgb(255, 255, 255);
    
    justify-content: space-around;
    align-content: space-around;
    gap: 20px;
    padding: 10px;




  }
  .grid-columns{
    display:grid;
    border: 1px solid rgba(0, 0, 0, 0.8);
    
    
    border-radius: 15px;
    padding: 10px;
    
    
  }
  .review-header{
    display: flex;
    justify-content: space-evenly;
  }

  





.post1{
    color: rgb(187, 183, 183);
    font-size: smaller;
}


.company{
    font-size: x-small;
    color: rgb(186, 183, 183);

}