* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    .maintextdiv{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
        .circlesubplans { 
            display: flex;
            border: solid black 2px;
            border-radius: 30px;
            font-size: 1.8rem;
            font-family: Inter;
            padding:10px 20px;
            margin-top: 20px;
            margin-bottom: 0px;
            width: fit-content;
            height: fit-content;
        }
        .maintext {
            display: flex;
            font-family: Inter;
            font-size: 70px;
            align-items: center;
            width: 800px;
        }
    }
}